@import "../mixins";
@import "../colors";

#offline-page {
  @include background-color($color-background-views, 100vh, 100%);

  .container-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    height: 400px;

    div {
      @include margin(50px, 0px, 0px, 0px)
    }
  }

  .flex-container {
    height: 100vh;
  }

  img {
    @include margin(0px, 0px, 0px, 2px)
  }

  input {
    @include textAlign(right)
  }

}
