@import "../mixins";
@import "../colors";

#import-product {
  @include background-color($color-background-views, 100vh, 100%);

  .input-style {
    @include textAlign(right)
  }

  .main-container {
    @include padding(10px, 10px, 10px, 10px)
  }

  img {
    @include margin(0px, 0px, 0px, 2px)
  }

  input {
    @include textAlign(right)
  }

  .container-suggest-without-scroll-bar {
    @include background-color($color-font-level-000, 200px, 100%);
    @include margin(3px, 0px, 0px, 0px);
    @include textAlign(right);

    ul {
      list-style: none;
      background: $color-font-level-0;
      display: contents;
    }

    li {
      background: $color-font-level-0;

      div {
        @include padding(5px, 8px, 8px, 5px);
        @include margin(0px, 8px, 8px, 0px);
        cursor: pointer;
        @include border-type(0px, 0px, 0px, 1px, $color-font-level-00, solid)
      }
    }
  }

  .container-suggest {
    @include background-color($color-font-level-000, 200px, 100%);
    @include margin(3px, 0px, 0px, 0px);
    overflow-y: scroll;
    overflow-x: hidden;
    @include textAlign(right);

    ul {
      list-style: none;
      background: $color-font-level-0;
      display: contents;
    }

    li {
      background: $color-font-level-0;

      div {
        @include padding(5px, 8px, 8px, 5px);
        @include margin(0px, 8px, 8px, 0px);
        cursor: pointer;
        @include border-type(0px, 0px, 0px, 1px, $color-font-level-00, solid)
      }
    }
  }

  .container-suggest::-webkit-scrollbar {
    width: 5px;
  }

  .container-suggest::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.18);
    border-radius: 3px;
  }

  .container-suggest::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.18);
  }


}
