$color-primary: #232d37;
$color-header: #232f3f;
$color-orange: #f37022;
$color-background-views: rgba(100, 142, 221, 0.1);
$color-login-counter: #fff;
$color-background-login-form: rgba(184, 190, 193, 0.46);
$color-font-level-10: #000;
$color-font-level-00: rgba(174, 174, 174, 0.38);
$color-font-level-000: rgba(255, 255, 255, 0);
$color-font-level-12: #bbb;
$color-font-level-0: #fff;
$color-background-details-need-shop: #c1ccd7;
$color-section-shop-lines: #c4ccd5
